package {{.ModuleName}}ctl

import (
	"{{.GroupId}}/{{.ArtifactId}}/pkg/database"
	"{{.GroupId}}/{{.ArtifactId}}/pkg/webfw"
	"{{.GroupId}}/{{.ArtifactId}}/internal/app/{{.AppName}}/{{.ModuleName}}/{{.ModuleName}}imp"
)

var (
	controllers map[string]interface{} = make(map[string]interface{})
	srv         *{{.ModuleName}}imp.Service
)

// Controller ..
func Controller() map[string]interface{} {
	srv = {{.ModuleName}}imp.New(
		database.GetClient(),
	)
	return controllers
}

func init() {
	m := map[string]interface{}{

		"GET /api/v1/feature": func(sessInfo webfw.SessionInfo) (interface{}, error) {
			return nil, nil
		},
	}

	for p, h := range m {
		controllers[p] = h
	}
}
