package {{.ModuleName}}dm

import (
	"{{.GroupId}}/internal/app/common/base/entity"
)


// {{.ModuleName}}Entity ..
type {{.ModuleName}}Entity struct {
	entity.BaseEntity // 基础字段
}

// TableName 表名
func (e {{.ModuleName}}Entity) TableName() string {
	return "{{.ModuleName}}"
}
